<h3>Store: <%= @store.name %></h3>

<% if @brands.any? %>
  <h4>Select all brands to add to this store</h4>
  <form action="/stores/<%= @store.id %>/brands" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @brands.each do |brand| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="brand_ids[]" value="<%= brand.id %>"><%= brand.name %>
        </label>
      </div>
    <% end %>
    <button type="submit" class="btn-warning">Add Brand(s)</button>
  </form>
<% else %>
  <p>There are no brands to add yet. Click <a href="/brands">here</a> to add some first.</p>
<% end %>
