<h3>Welcome to the Shoe Store Hub</h3>
<br>
<h5>To get started, add a store below. If you have already added a store, you can use the navigation bar to explore the rest of the site.</h5>
<div class="form-group">
  <form action="/stores" method="post">
    <br>
    <input name="name" type="text">
    <br>
    <br>
    <button type="submit" class="btn">Add Store</button>
  </form>
</div>
